#banner {
    background-image: url("https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=");
    color: darkslategrey;
    background-size: cover;
  }

#map {
  height: 400px;
  border: 1pt solid black;
}
  
#mapid {
  height: 400px;
  border: 1pt solid black;
}
  
#banner-text {
  text-align: left;
}